.form-signin {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
}

div.resultados {
    margin-top: 20px;
}

div.resultados > a.grupo {
    display: block;
}

#map {
    height: 20%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

