{% extends "practica_08/music.html" %}

{% block datos %}
<div class="resultados">
    <h2>Álbum guardado:</h2>
    <div class="datos">
        <p>{{ post.titulo }}</p>
        <p>{{ post.distribuidora }}</p>
        <p>{{ post.fecha_lanzamiento }}</p>
    </div>
</div>

<a class="btn btn-warning" href="{% url 'editAlbum' pk=post.pk %}">Editar álbum<span class="glyphicon glyphicon-pencil"></span></a>
<a class="btn btn-danger" href="{% url 'borrarAlbum' pk=post.pk %}">Borrar álbum<span class="glyphicon glyphicon-pencil"></span></a>

{% endblock %}
