<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
</head>
<body>
<h1 class="text-center"> Base de datos de música </h1>
	<div class="container-fluid">
		        
        <div class="login">
            {% if user.is_authenticated %}
                {% load account %}
                <h4>Bienvenid@ a la página {% user_display user %}</h4>
                <div id="login">
                    <h4>Pulsa aquí para salir</h4>
                    <a href="{% url 'logout' %}" class="btn btn-primary">Cerrar sesión</a>
                </div>
            {% else %}
                <div id="login">
                    <h4>Únete a esta página</h4>
                    <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
                    <a href="{% url 'signup' %}" class="btn btn-info">Regístrate</a>
                </div>
            {% endif %}
        </div>

        <div class="botones">
            <h3>Temas de fondo:</h3>
            <button class="fondo btn-secondary" id="background-default">Fondo por defecto</span></button>
            <button class="fondo btn-secondary" id="background-azul">Fondo de color <span style="color: blue">azul</span></button>
            <button class="fondo btn-secondary" id="background-noche">Fondo <span style="color: rgb(33, 33, 59);">noche</span></button>
            <button class="animacion btn">Meme</button>
            <img src="/static/meme.gif" class="meme" id="badumtss" width="120p" height="100p">
        </div>

        <div id="opciones">
            <h2>Indica qué datos vas a introducir</h2>

            <nav class="navbar navbar-light bg-light" id="enlaces">
                <a href="{% url 'music' %}">Inicio</a>
                <a href="{% url 'nuevoGrupo' %}">Introducir grupo</a>
                <a href="{% url 'nuevoAlbum' %}">Introducir álbum</a>
                <a href="{% url 'nuevoMusico' %}">Introducir músico</a>
                <a href="{% url 'listarGrupos' %}">Listar grupos</a>
                <a href="{% url 'listarAlbumes' %}">Listar álbumes</a>
                <a href="{% url 'listarMusicos' %}">Listar músicos</a>
            </nav>
        </div>
        <div class="container text-center">
            {% block content %}
            {% endblock %}

            <div class="datos">
            {% block datos %}
            {% endblock %}
            </div>
        </div>
        
    </div>

    <script>
        $("button#background-default").click(function(){
            $("body").css("background-color", "rgb(255, 255, 255)");
            $("p").css("color", "black");
            $("h1").css("color", "black");
            $("h2").css("color", "black");
            $("h3").css("color", "black");
            $("h4").css("color", "black");
            $("button.animacion").css("color", "black");

            $("nav#enlaces").removeClass("bg-warning");
            $("nav#enlaces").removeClass("bg-success");
        });

        $("button#background-azul").click(function(){
            $("body").css("background-color", "rgb(147, 147, 255)");
            $("p").css("color", "black");
            $("h1").css("color", "black");
            $("h2").css("color", "black");
            $("h3").css("color", "black");
            $("h4").css("color", "black");
            //$("button").css("color", "black");

            $("nav#enlaces").removeClass("bg-warning");
            $("nav#enlaces").removeClass("bg-light");
            $("nav#enlaces").addClass("bg-success")
        });
        
        $("button#background-noche").click(function(){
            $("body").css("background-color", "rgb(33, 33, 59)");
            $("p").css("color", "white");
            $("h1").css("color", "white");
            $("h2").css("color", "white");
            $("h3").css("color", "white");
            $("h4").css("color", "white");
            $("button").css("color", "white");

            $("nav#enlaces").removeClass("bg-light");
            $("nav#enlaces").removeClass("bg-danger");
            $("nav#enlaces").addClass("bg-warning");
        });

        $("button.meme").click(function(){
            if( $("img.meme").css('visibility') != 'visible') {
                $("img.meme").css("visibility", "visible");
            }
            else {
                $("img.meme").css("visibility", "hidden");
            }
        });
    </script>
</body>
<footer>
    <p>Alumno: Pablo Cerezo Sánchez</p>
    <p>Asignatura: DAI</p>
</footer>
</html>
